.splash-page__navigation {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		background-color: rebeccapurple;
		li {
			font-size: 4vw; // down to 2 on scroll
			font-weight: 100;
			color: orange;
			-webkit-transition: all 0.4s ease;
			transition: all 0.4s ease;
		}
	}
}

.splash-page__navigation--main {
	ul {
		-webkit-box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.4);
		box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.4);
		opacity: 0.5;
		li {
			font-size: 2vw;
		}
	}
}
