.splash-page__navigation {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		-webkit-transition: all 1s ease-in;
		transition: all 1s ease-in;
		li {
			font-size: 3vw; // down to 2 on scroll
			font-weight: 400;
			color: #e3d7dc;
			-webkit-transition: all 0.4s ease;
			transition: all 0.4s ease;
			padding-bottom: 3%;
		}
	}
}

nav.splash-page__navigation--main {
	ul {
		background-color: #b68a9b;
		-webkit-box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.4);
		box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.4);
		opacity: 1;
		width: 100vw;
		height: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-evenly;
		font-size: 3vw;
		li {
			font-size: 3vw;
			padding: 0 1% 0 0;
			:active {
				color: pink;
			}
		}
	}
}

li.logo {
	max-width: 0;
	overflow: hidden;
	background: #e3d7df;
	-webkit-transition: max-width 3s ease-in;
	transition: max-width 3s ease-in;
	font-size: 30px;
	color: black;
	height: 0;
	visibility: hidden;
	-webkit-transform: translateX(-10rem);
	transform: translateX(-10rem);
}

.splash-page__navigation--main li.logo {
	max-width: 100px;
	height: 100%;
	color: black;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	visibility: visible;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

@media screen and (max-width: 800px) {
	nav.splash-page__navigation--main ul {
		height: 5rem;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	nav.splash-page__navigation--main ul li {
		font-size: 5vw;
	}
}
