.bio-page {
	@include page-grid;
}

.bio-page__header {
	@include page-header;
}

.bio-page__circle {
	height: 100px;
	width: 100px;
	background-color: red;
	justify-self: center;
	border-radius: 100%;
}

.bio-page__header-title {
	text-align: center;
}

.bio-page {
	&__acting-bio,
	&__directing-bio,
	&__teaching-bio {
		margin-bottom: 2rem;
		p {
			margin-bottom: 2rem;
		}
	}
}

.bio-page__bios {
	margin: 0 2rem;
	p {
		text-align: left;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
}
