.blog-page {
	@include page-grid;
}

.blog-page__header {
	@include page-header;
	margin: 0 0 2rem 0;
}

.blog-page__button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.blog-archive {
	height: 100vh;
}

.blog-page__blogs {
	width: 100%;
	-webkit-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
	margin-bottom: 2rem;
	a {
		color: #3e0b3b;
		text-decoration: none;
	}
}

.blog-page__blogs:hover {
	background: #e4c9c933;
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
	border-radius: 3%;
	-webkit-box-shadow: 6px 9px 10px #ab6f6f33;
	box-shadow: 6px 9px 10px #ab6f6f33;
}

.blog-page__content {
	margin: 0 2rem;
	p {
		text-align: left;
	}
}

.blog__button {
	button {
		margin-bottom: 2rem;
	}
}
