.blog-page {
	@include page-grid;
}

.blog-page__header {
	@include page-header;
}

.blog-page__button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.blog-archive {
	height: 100vh;
}

.blog-page__blogs {
	width: 100%;
	a {
		color: #3e0b3b;
		text-decoration: none;
	}
}

.blog-page__content {
	margin: 0 2rem;
	p {
		text-align: left;
	}
}
