.events-page {
	@include page-grid;
}

.events-page__header {
	@include page-header;
}

.events-page__events {
	@include flex-center;
	@include page-grid;
	margin: 0;
	grid-gap: 2rem;
}

.events-page__events-block {
	border: 1px solid black;
	height: 200px;
	width: 200px;
}

.events-page__button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-bottom: 2rem;
}

.event-summary {
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	box-align: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	box-orient: vertical;
	-webkit-box-orient: vertical;
	box-direction: normal;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	background: #e4c9c9;
	-webkit-box-shadow: -1px 7px 6px 3px #00000030;
	box-shadow: -1px 7px 6px 3px #00000030;
}

.event-summary__date {
	padding-top: 2rem;
}

.event-summary img {
	height: 50%;
	width: 50%;
	-o-object-fit: cover;
	object-fit: cover;
	padding-top: 2rem;
}

.events-page__container {
	height: 100%;
}

.event-summary__content p {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.event-summary__content p a {
	border: 1px solid;
	-ms-flex-item-align: center;
	align-self: center;
	margin-top: 2rem;
}
