.cd-info-page {
	@include page-grid;
}

.cd-info-page__header {
	@include page-header;
	h1 {
		margin-bottom: 2rem;
	}
}

.cd-info-page__cover {
	height: 100%;

	img {
		height: 100%;
		width: 100%;
		-o-object-fit: cover;
		object-fit: cover;
	}
}

.cd-info-page__info {
	@include flex-center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 0 2rem;
}

.cd-info__button {
	@include flex-center;
}
