.cd-info-page {
	@include page-grid;
}

.cd-info-page__header {
	@include page-header;
}

.cd-info-page__cover {
	height: 100%;

	img {
		height: 100%;
		width: 100%;
		-o-object-fit: cover;
		object-fit: cover;
	}
}

.cd-info-page__info {
	@include flex-center;
}

.cd-info__button {
	@include flex-center;
}
