.splash-page {
	display: grid;
	height: 100%;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e3c8964d), to(#e3d8e3));
	background-image: linear-gradient(#e3c8964d, #e3d8e3);
}

.splash-page__image img {
	height: 100vh;
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: bottom;
	object-position: bottom;
	-webkit-filter: grayscale(1);
	filter: grayscale(1) sepia(0.4);
	opacity: 0.1;
}

.splash-page__navigation {
	position: fixed;
	z-index: 1;

	ul li {
		font-size: 4vw;
		font-weight: 600;
		color: #802c7866;
		text-shadow: 0 0vw #316a90;
	}
}

.name {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-left: 18%;
	position: absolute;

	h1 {
		padding: 0;
		color: #802c7866;
		text-shadow: 0vw 0vw #316a90;
		font-size: 5vw;
	}
	h2 {
		letter-spacing: 2vw;
		width: 100%;
	}
}

.reviews {
	position: absolute;
	top: 40vh;
	left: 40vw;
	width: 25%;
}

@media screen and (max-width: 800px) {
	.reviews {
		width: 100%;
		top: 30%;
		left: 0;
	}

	.name h2 {
		width: 80%;
		font-size: 1.3rem;
	}
}
