.splash-page {
	background-color: wheat;
	display: grid;
	grid-template-columns: 16% repeat(3, 1fr);
	grid-template-rows: repeat(4, 1fr);
}
.splash-page__image {
	grid-row: 1 / 5;
	grid-column: 1 / 5;
	height: 100%;
	img {
		height: 100%;
		width: 100%;
		-o-object-fit: cover;
		object-fit: cover;
	}
}
.splash-page__navigation {
	grid-row: 1 / 5;
	grid-column: 1 / 2;
	position: fixed;
}
.splash-page__title {
	grid-column: 2 / 4;
	grid-row: 1 / 2;
	img {
		width: 100%;
		-o-object-fit: contain;
		object-fit: contain;
	}
}
.splash-page__sub-title {
	grid-column: 2 / 4;
	grid-row: 1 / 2;
	color: white;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}
.splash-page__reviews {
	color: white;
	grid-row: 2 / 3;
	grid-column: 3;
}
.splash-page__album-download {
	grid-column: 1 / 5;
	grid-row: 4 / 5;
	background-color: #e3d7dce6;
	height: 32%;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-item-align: end;
	align-self: flex-end;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;

	button {
		background-color: #e3d7dc;
		border: none;
	}
}
