.splash-page {
	background-color: wheat;
	display: grid;
	grid-template-columns: 16% repeat(3, 1fr);
	/* grid-template-rows: repeat(4, 1fr); */
}
.splash-page__image {
	grid-row: 1 / 5;
	grid-column: 1 / 5;
	height: 100%;
	img {
		height: 100%;
		width: 100%;
		-o-object-fit: cover;
		object-fit: cover;
	}
}
.splash-page__navigation {
	grid-row: 1 / 5;
	grid-column: 1 / 2;
	position: fixed;
	z-index: 1;
}
.splash-page__title {
	grid-column: 2 / 4;
	grid-row: 1 / 2;
	margin-left: 2rem;
	img {
		width: 100%;
		-o-object-fit: contain;
		object-fit: contain;
	}
}
.splash-page__sub-title {
	grid-column: 2 / 4;
	grid-row: 1 / 2;
	color: white;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	padding-top: 7vw;
	margin-left: 2rem;
}

.splash-page__reviews {
	grid-row: 2 / 3;
	grid-column: 3;
	@include flex-center;
	padding-top: 8vw;
}

.splash-page__album-download {
	grid-column: 1 / 5;
	grid-row: 4 / 5;
	background-color: #e3d7dce6;
	height: 32%;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-item-align: end;
	align-self: flex-end;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;

	button {
		background-color: #e3d7dc;
		border: none;
	}
}

//testimonial

.testimonial_rotator_wrap.with-prevnext {
	margin: 0;
	padding: 0;
	width: 234%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

#testimonial_rotator_182 {
	position: static !important;
	text-align: center;
}

.testimonial_rotator_nav {
	width: 20rem;
}

.testimonial_rotator_prev,
.testimonial_rotator_next {
	font-size: 1vw;
}

/* .slide[style] {
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
} */

q {
	width: 200%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	::before,
	::after {
		content: none;
	}
}

h2.testimonial_rotator_slide_title {
	font-size: 2vw;
}

.testimonial_rotator.template-default .testimonial_rotator_author_info {
	line-height: 0;
	padding: 0 0 0 5px;
	margin: 14%;
}
